html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-size: 12px;
}

#sidebar {
    right: 0px;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 38px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 38px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 38px rgba(0,0,0,0.3);
    z-index: 10000;
}

.slidein, .slideout {
    -webkit-transition: right 0.7s;
    -moz-transition: right 0.7s;
    -o-transition: right 0.7s;
    transition: right 0.7s;
}

.slidein {
    right: 0px;
}

.slideout {
    right: -360px !important;
}

.sidepanel {
    background-color: #ffffff;
    padding: 0px;
}

.panelcontent {
    padding: 15px 10px 10px 10px;
}

#menubar {
    font-size: 0;
}

.menuicon {
    font-size: 12px !important;
    display: inline-block;
    height: 40px;
    width: 46px;
    text-align: center;
    line-height: 40px;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.menuicon:hover, .menuicon.active {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}

#map {
    width: 100%;
    float: left;
    height: 100%;
}

#data {
    width: calc(100% - 30px);
    float: left;
    padding: 5px 20px;
}

#app {
    display: block;
    height: 100%;
    width: 100%;
}

.sideheader {
    position: relative;
    display: block;
    width: 100%;
    padding: 0px 10px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    height: 45px;
    line-height: 45px;
}

.sidesubheader {
    display: block;
    width: 100%;
    padding: 10px 10px;
    background-color: #eeeeee;
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    border-bottom: 1px solid #dddddd;
}

.sidelayer {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #dddddd;
}

.sidelayer:hover {
    background-color: #eeeeee;
}

.smaller {
    font-size: 0.8em;
}

.clickable {
    cursor: pointer;
}

.colorsquares {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.colorsquarelong {
    display: inline-block;
    width: 96px;
    height: 12px;
    background-color: #eeeeee;
}

.colorsquare {
    margin-bottom: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #eeeeee;
}

.layericons {
    font-size: 0;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    margin-top: 3px;
    margin-right: 3px;
}

.layericon {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.layericon-2 {
    top: 25px;
}

.sliderwrapper {
    margin: 0px 5px;
}

.radiolabel {
    margin-left: 10px;
}

.back {
    margin-left: 30px !important;
}

.leaflet-draw-actions {
    display: none !important;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.no-results {
    font-style: italic;
}

.pull-right-vertical {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.right-10 {
    margin-right: 10px;
}

label {
    font-weight: normal;
}

.toastcontainer {
    top: 0px !important;
}

.layerlegend {
    margin-top: 5px;
}

.pagination {
    margin: 15px 0px 10px 0px;
}

.popupcontainer {
    width: 500px;
    max-height: 300px;
}

.popupcontent {
    overflow: auto;
    max-height: 300px;
}

.colorlabel {
    margin: 0px !important;
}