html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-size: 12px;
}

#sidebar {
    right: 0px;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    width: 400px;
    height: 100%;
    background-color: #eeeeee;
    box-shadow: 0 0 38px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 38px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 38px rgba(0,0,0,0.3);
    z-index: 10000;
}

.slidein, .slideout {
    -webkit-transition: right 1s;
    -moz-transition: right 1s;
    -o-transition: right 1s;
    transition: right 1s;
}

.slidein {
    right: 0px;
}

.slideout {
    right: -360px !important;
}

.sidepanel {
    background-color: #ffffff;
}

.menuicon {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.menuicon:hover {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}

#map {
    width: 100%;
    float: left;
    height: 100%;
}

#data {
    width: calc(100% - 300px);
    float: right;
    padding: 20px;
}

#app {
    display: block;
    height: 100%;
    width: 100%;
}

.sideheader, .sideheader:active, .sideheader:hover, .sideheader:focus {
    display: block;
    width: 100%;
    padding: 10px 10px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

.content {
    padding: 10px 10px;
}

.suggestions {
    list-style: none;
    padding: 0px 4px;
}

.suggestions li {
    position: relative;
    list-style: none;
    margin: 3px;
    padding: 4px;
    background-color: #eeeeee;
}

.suggestions li:hover {
    background-color: #dddddd;
}

.clickable {
    cursor: pointer;
}

.colorsquares {
    display: inline-block;
    margin-left: 10px;
}

.colorsquarelong {
    display: inline-block;
    width: 96px;
    height: 12px;
    background-color: #eeeeee;
}

.colorsquare {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #eeeeee;
}

.closeicon {
    padding: 3px 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.count {
    font-size: 0.8em;
}

.sliderwrapper {
    margin: 0px 5px;
}

.radiolabel {
    margin-left: 10px;
}

.leaflet-draw-actions {
    display: none !important;
}

.layerbox {
    padding-right: 25px !important;
}